body {
  box-sizing: border-box;
  width: 100%;
}

.board-container {
  width: 100vw;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
  padding: 0 25px;
  box-sizing: border-box;
}

.board:nth-child(1) .board-name {
  background-color: #8e6e95;
}
.board:nth-child(2) .board-name {
  background-color: #2da89c;
}
.board:nth-child(3) .board-name {
  background-color: #ff3d5a;
}
.board:nth-child(4) .board-name {
  background-color: #ffb969;
}
